# Build tools
node_modules
npm-debug.log
typings
coverage
report

# Build
dist
logipharma-*/

# Intellij IDEA
.idea
*.iml
.editorconfig

# Generated sources
print-editor/**/*.css
print-editor/**/*.js
print-editor/**/*.js.map
sample/**/*.css
sample/**/*.js
sample/**/*.js.map
config/angular.test.setup.js
config/angular.test.setup.js.map
print-editor/**/*.html
sample/**/*.html

# Do not ignore tests specs
!app/**/*.spec.js

# Mac
.DS_Store
