@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.card-txt {
  position: absolute;
  overflow: auto;
  padding: 4px;
  line-height: 1em;
  background-color: transparent;
}

@mixin cardTextEdit() {
  resize: both;
  // TODO remplacer par variable
  border: dotted 2px;
  border-radius: 5px;
}

.card-txt.edit {
  @include cardTextEdit();
}

.card-txt.edit:focus {
  @include cardTextEdit();
  outline: none;
}

.card-txt.readOnly {
  resize: inherit;
  border: none;
}