div.card-txt(
    [ngClass]="{edit: edit, readOnly: !edit}",
    [style.top]="state.top",
    [style.left]="state.left",
    [style.width]="state.width",
    [style.height]="state.height",
    (click)="editMode(textComp)",
    (blur)="readOnlyMode(textComp)",
    (focus)="onFocus(state)",
    [draggable]="",
    #textComp=""
        )
        {{value}}