- var scripts = ["https://npmcdn.com/core-js/client/shim.min.js"]
- scripts.push("https://npmcdn.com/zone.js@0.6.12?main=browser")
- scripts.push("https://npmcdn.com/reflect-metadata@0.1.3")
- scripts.push("https://npmcdn.com/systemjs@0.19.27/dist/system.src.js")
- scripts.push("sample/systemjs.config.js")

doctype html
html
    head
        title= "Card and Flier WYSIWYG Editor Sample"
        base(href="/")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        each scriptUrl in scripts
            script(src=scriptUrl)

    body
        sample-app.container-fluid
            i.fa.fa-circle-o-notch.fa-spin.fa-5x.fa-fw.margin-bottom.absolute-center
            span.sr-only
