div.editor-container
    div.editor-toolbar
        button.btn.btn-default(#deleteBtn="", type="button",aria-label="Add Text", [disabled]="!selectedElement", (click)="suppressFn()")
           span.glyphicon.glyphicon-remove
    div.wrapper.editor-body((dblclick)='openTextElementFromDblClick($event)', #editorBody='')
        div.editor-body-inner(#editorBodyInner='')