div.editor-container
    div.editor-toolbar
        button.btn.btn-default(type="button",aria-label="Add Image")
            span.glyphicon.glyphicon-picture
        button.btn.btn-default(type="button",aria-label="Add Text", (click)="openTextElementFromAction()")
            span.glyphicon.glyphicon-text-background
        button.btn.btn-default(type="button",aria-label="Add Text", (click)="suppressAction()", [disabled]="!selectedElement")
            span.glyphicon.glyphicon-remove
    div.wrapper.editor-body((dblclick)='openTextElementFromDblClick($event)')
        div(#editorBody="")